.venntooltip {
  position: absolute;
  text-align: center;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

#venn svg, #root-frequencies svg {
  max-width: 25cm;
  width: 100%;
  height: auto;
}

#venn-settings{
  padding: 5px;
}

text.label {
  display:none;
}

body {
  font-family: monospace;
  font-size: 14px;
}

#main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#tabs {
  width: 100%;
  height: auto;
  flex: 1;
}

#logs{
  min-width: 200px;
  flex: 0 1 auto; 
  overflow-y: auto;
  background: #e9e9e9;
  padding: 5mm;
  font-size: 8pt;
  white-space: nowrap;
  border-top: none;
}

.chromeTrusted{
  background: #AFA;
}

#logs_chrome .disqualified{
  background: #FAA;
}

#logs_known {
  background: #EAA;
}

.unavailable{
  background: #AAA;
}

.disqualified{
  text-decoration: line-through;
}

#progress-label {
  padding-left: 5px;
}


.root-explorer-table tr{
  font-family:courier;
  font-size:10px;
}

.root-explorer-table thead{
  font-family:courier;
  font-size:11px;
}

.root-explorer-table caption{
  display:none;
}

#progressbar a {
  text-decoration: none;
}

#progressbar{
  border-bottom: none;
}

#readme {
  overflow-y: scroll;
  background: #fffdff;
  margin: 0 auto;
  max-height: 80vh;
  max-width: calc(100vw - 1.2cm);
}

div#intro {
  width: 25cm;
}

.ui-dialog-buttonset button:last-of-type{
	background-color: #afa;
}

.bar {
  fill: steelblue;
}

a.fingerprint{
  word-break: break-all;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}

pre { 
  background: #f4f4f4; 
  padding: 10px; 
  border: 1px solid #ddd; 
  overflow-x: auto; 
}

object, iframe{
  width: 100%;
  height: 80vh;
  border: none;
}

#rootStoreJSON 
{ 
  width: calc(100% - 1cm);
  height: 80vh; 
}

